{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "rules": {
    "no-unused-expressions": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-console": 0
  }
}